body {
  box-sizing: border-box;
}
.sidebar {
  height: 100vh !important;
  background-color: #198754 !important;
}
/* inventory table */
.inventory-table {
  height: 600px;
}
tr input {
  background-color: transparent !important;
  border: 0;
  font-size: 0.95rem;
}
.active {
  background-color: rgb(67, 90, 54) !important;
  color: white !important;
}
th {
  cursor: pointer;
  user-select: none;
}
